@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

:root {
  --color-fd-primary: hsl(220, 90%, 56%);
}

.dark {
  --color-fd-primary: hsl(220, 90%, 66%);
}

html {
  scrollbar-gutter: stable;
}

html:has(body[data-scroll-locked]) {
  scrollbar-gutter: auto;
}

body {
  background-color: var(--color-fd-background);
}
